.file-label {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(
    90deg,
    #16323b 7.99%,
    #1f4c5b 30.91%,
    #1e5966 68.78%,
    #16323b 94.79%
  );
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  /* transition: background 0.3s ease, box-shadow 0.3s ease; */
}

.file-label:hover {
  background: linear-gradient(
    -90deg,
    #16323b 7.99%,
    #1f4c5b 30.91%,
    #1e5966 68.78%,
    #16323b 94.79%
  );
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
}
.personalmain {
  display: flex;
  width: 80%;
}
.input-field {
  background: linear-gradient(
    90deg,
    #16323b 7.99%,
    #1f4c5b 30.91%,
    #1e5966 68.78%,
    #16323b 94.79%
  );
  color: white;
  padding: 10px;
  border: none;
  width: 20%;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}
.input-field:hover {
  background: linear-gradient(
    -90deg,
    #16323b 7.99%,
    #1f4c5b 30.91%,
    #1e5966 68.78%,
    #16323b 94.79%
  );
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3); */
}
/* #file-input {
  display: none;
} */

@media screen and (max-width: 480px) {
  .personalmain {
    display: flex;
    width: 100%;
  }
}
