.home {
  top: 0;
  /* display: flex; */
  /* width: 100%;
  height: 150vh; */
  /* background-color: rgba(20, 45, 51, 0.5); */

  /* margin-top: 100px; */
  /* 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(../assets/home1.svg); */
}
.imgback {
  object-fit: contain;
  top: 0;
  max-width: 100%;
  height: auto;
  object-position: center;
  /* height: 150vh; */
}

.heading1 {
  /* width: 853px; */
  /* left: 817px; */
  font-size: 50px;

  color: #fff;
}
.heading2 {
  font-size: 30px;
  color: #fff;
}
.getappimg {
  object-fit: contain;
  object-position: center;
  top: 0;
  width: 100%;
}

.two {
  background-color: #fff;
  width: 100%;

  /* margin-top: 150vh; */
}
.two1 {
  background-color: #e5faff;
  flex-direction: column;
  height: 130vh;
  width: 100%;
  /* margin-top: 70px; */
}
.card1,
.card2,
.card3,
.card4 {
  box-sizing: border-box;
  width: 405px;
  height: 200px;
  /* transition: 0.2s; */

  background: rgba(30, 89, 102, 0.06);
  border: 1px solid #1a3237;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card1:hover {
  /* animation: flip 0.5s; */
  transform: translateY(-0.5rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.card2:hover {
  /* animation: flip 0.5s; */
  transform: translateY(-0.5rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.card3:hover {
  /* animation: flip 0.5s; */
  transform: translateY(-0.5rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.card4:hover {
  /* animation: flip 0.5s; */
  transform: translateY(-0.5rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.p1,
.p2,
.p3,
.p4 {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin-top: -25px;
  font-size: 25px;
  line-height: 20px;
  text-align: center;

  color: #646464;
}

/* .headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: black;
}

.headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
} */

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer h1,
  .headerContainer p {
  }

  .heading1 {
    font-size: 5px;
  }
  .heading2 {
    font-size: 3px;
  }
  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}
.header1 {
  font-size: 100px;
  font-weight: 500;
  line-height: 117px;
  letter-spacing: 0em;
  text-align: left;
}
.header2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
