/* .navbar {
  width: 100%;
  height: 10%;
  margin-top: 20px;
  display: flex;
  position: fixed; */

/* background-color: rgba(20, 45, 51, 0.5); */
/* background-color: red; */
/* 
  flex-direction: row;
} */

.navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0%;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  overflow: hidden;
}

.navbar.colorChange {
  background-color: #1a454f;
  width: 100%;
  top: 0%;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  overflow: hidden;
}
.img1 {
  margin-left: 50px;
  margin-top: 20px;
}
.navhead1,
.navhead2,
.navhead3,
.navhead4 {
  width: 124px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
}
.rightSide {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 70px;
}

/* .navbar .rightSide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

/* .navbar .rightSide {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
} */

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
.navhead1:hover {
  color: #e9c37d;
}
.navhead2:hover {
  color: #e9c37d;
}
.navhead3:hover {
  color: #e9c37d;
}
.navhead4:hover {
  color: #e9c37d;
}

@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
