/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


.img1 {
  object-fit: contain;
  height: auto;
  max-width: 100%;
  object-position: center;
}

.NavbarItems {
  display: flex;
  z-index: 999;
  justify-content: space-between;
  background-color: transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  width: 100%;
 transform: translate(-50%); 
}

.NavbarItems-colorChange {
 background-color: #1a454f;
  position: fixed;
  width: 100%;
  top: 0%;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  overflow: hidden; 
  top: 0%;
  z-index: 999;
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: #1a454f;
  position: fixed;
}

.logo {
  color: green;
  cursor: pointer;
  justify-self: start;
}
.fa-react {
  padding-right: 2px;
}
.logo:hover {
  padding-left: 10px;
}
.MenuItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(700, 225, 15, 0.55);
  width: 100%;
}
.listnav {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.nav2 {
  width: 85%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.nav3 {
  display: "flex";
  width: 15%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.nav-links {
  text-decoration: none;
  color: green;
  display: flex;
  padding: 10px 12px;
}
.nav-links:hover {
  background-color: turquoise;
  color: black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.fa-bars,
.fa-times {
  color: green;
  cursor: pointer;
}
.Hamburger-Cross-Icons {
  display: none;
}
.nav-button {
  padding: 12px;
  background-color: green;
  border-radius: 5px;
  color: red;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (max-width: 650px) {
  .NavbarItems {
    z-index: 99;
  }

  .MenuItems {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .MenuItems-active {
    background: #9899d1;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0;
  }
  .nav2 {
    width: 85%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .nav3 {
    display: "flex";
    width: 15%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .listnav {
    display: flex;
    flex-direction: column;
  }
  .Hamburger-Cross-Icons {
    display: block;
  }
  .nav-button {
    padding: 1rem;
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
  }
} */

.header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  position: fixed;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  z-index: 999;
  justify-items: center;
  align-items: center;
  height: 100px;
}

.header-colorChange {
  background-color: #1a454f;
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 999;
}

.logo-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: auto;
  justify-content: center;
}
.logo {
  width: 45px;
  height: 45px;
}
.nav-options {
  /* padding-left: 25px; */
  display: flex;
  flex-direction: row;

  /* background-color: red; */
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  list-style-type: none;
}
.mobile-option {
  display: none;
}

.option :hover {
  color: white;
}
/* .signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}
.sign-in {
  align-self: center;
}
.sign-in :hover {
  color: white;
}
.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  background: rgb(222, 9, 241);
  color: white;
  cursor: pointer;
  align-items: center;
} */
.mobile-menu {
  display: none;
}
.account {
  display: flex;
  width: 10%;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  /* background-color: red; */
}
@media (max-width: 648px) {
  /*Mobile View */
  .header {
  }
  .logo {
    width: 15px;
    height: 15px;
  }
  .logo-container {
    /* background-color: red; */
    display: flex;
    margin-right: 200px;
    align-items: center;

    justify-content: center;
    height: auto;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    /* margin-top: 100px; */
    background: #1a454f;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    /* padding: 30px 0px; */
  }
  /* .sign-up {
    background: rgb(222, 9, 241);
    border-radius: 3px;
    color: white;
    padding: 20px 0px;
    width: 80%;
    align-self: center;
    border-radius: 3px;
  }

  .signin-up {
    display: none;
  } */
  .account {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.mobile-menu {
  display: block;
}
