.main {
  display: flex;
  width: 100%;
  height: 100%;

  overflow-anchor: none;
  flex-direction: column;
}
.heading {
  width: 832px;
  height: 59px;
  left: 450px;
  top: 489px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */

  color: #333333;
}
.listmain {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  overflow: scroll;
  padding: 10px;
  scroll-behavior: smooth;
  background: #effcff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.listitem {
  width: 100%;
  height: 213px;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .dropbtn {
  background-color: red;
}
