.main {
  display: flex;
  width: 100%;
  height: 100%;

  overflow-anchor: none;
  flex-direction: column;
}
.heading {
  width: 832px;
  height: 59px;
  left: 450px;
  top: 489px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */

  color: #333333;
}
.listmain {
  width: 100%;
  height: auto;
  overflow: scroll;
  scroll-behavior: smooth;
  background: #effcff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.listitem {
  width: 965px;
  height: 213px;
  left: 65px;
  top: 638px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}
